body{
margin:0;
font-family:Arial;
background:#e8f5e9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.viewer-container{
width:900px;
}

.notes-card{
position:relative;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
text-align:center;
}

canvas{
width:100%;
border-radius:6px;
}

.arrow{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:30px;
background:#156066;
color:white;
border:none;
width:45px;
height:70px;
cursor:pointer;
}

#prev{
left:-50px;
}

#next{
right:-50px;
}

.overlay{

display:none;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background:rgba(0,0,0,0.45);

backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);

color:white;

flex-direction:column;
justify-content:center;
align-items:center;

padding:20px;
text-align:center;
border-radius:10px;

}

.overlay input{
width: 80%;
max-width: 420px;
padding: 12px;
margin-top: 10px;
border-radius: 6px;
border: none;
font-size: 14px;
white-space: normal;
}

.overlay h2{
font-family: 'Cinzel', serif;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 2px;
}

/* Redeem text */
.overlay p{
font-family: 'Poppins', sans-serif;
font-size: 14px;
}

/* Input box */
.overlay input{
font-family: 'Poppins', sans-serif;
font-size: 14px;
}

/* Buttons */
.overlay button{
font-family: 'Poppins', sans-serif;
font-weight: 500;
margin-top:10px;
padding:10px 18px;
border:none;
background:#156066;
color:white;
cursor:pointer;
}

body.screenshot canvas{
filter: blur(15px);
}

.payment-options{
display:flex;
gap:12px;
justify-content:center;
margin-top:15px;
}

.pay-btn{
background:#156066;
color:white;
border:none;
padding:10px 18px;
border-radius:6px;
cursor:pointer;
font-family:'Poppins',sans-serif;
margin-top:15px;
}

.pay-btn:hover{
background:#0f4a4d;
}

/* ===== COMMON HERO ===== */
.common-hero {
  height: 180px;   /* 👈 chhota hero (compact pages ke liye) */
  background: linear-gradient(120deg, #156066 0%, #187A6F 45%, #2BBF7A 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title */
.site-title {
  font-family: 'Cinzel', serif;
  color: white;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Navbar same rahega */
.navbar {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: 'Cinzel', serif;
  font-size: 18px;
}
